*.apk
*.dmg
*.app
####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
*.egg-info/
*~
.vscode/
/electrum-dnotes.py
contrib/pyinstaller/
Electrum.egg-info/
#gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil
contrib/build-wine/tmp/

# tox files
.cache/
.coverage
